//
// Application stylesheet
// -----------------------------------------------

.visualClear {
    .clearfix();
}

a:hover {
  .transition(color .5s linear);
}

.template-navigation-controlpanel .label:empty {
    display: inline-block;
}

.userrole-authenticated .cbp-spmenu-vertical {
  top: 75px;
}


.app-navbar {
  text-transform: uppercase;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.5);
  font-size: (@font-size-base - 2);
}

.app-navbar-nav > li > a {
    padding-right: @padding-xs-horizontal;
    padding-left: @padding-xs-horizontal;
}
// Jsutify the main nav when not collapsed
@media (min-width: @grid-float-breakpoint) {
    .app-navbar-nav {
        .nav-justified();
    }
    .app-navbar-nav > li {
        float: none;
    }
}

.app-toolbar {
    font-size: @font-size-small;
    min-height: 50px;
}

.app-toolbar + .app-navbar,
.app-toolbar + .app-brandbar {
    margin-top: @navbar-height;
}

.app-header {
    .jumbotron();
}

.app-sign {
    display: inline-block;
    .square(@navbar-height);
    text-align: center;
    font-size: floor((@navbar-height / 2));
    border: ceil((@line-height-computed / 4)) solid @gray-lighter;
    border-radius: floor((@navbar-height / 2));
    color: @gray-lighter;
}

// Add plone selected class to twbs navbar styles

.navbar-default .navbar-nav {
    @media (min-width: @screen-sm-min) {
        > .selected:after {
            position: absolute;
            bottom: -(@line-height-computed);
            left: 50%;
            margin-left: -(@line-height-computed);
            border-top: @line-height-computed solid @navbar-default-link-active-bg;
            border-right: @line-height-computed solid transparent;
            border-left: @line-height-computed solid transparent;
            content: "";
        }
    }
    > .selected > a {
        position: relative;
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
}

.app-content {
    &.app-content-simple {
        background: @gray-lighter;
    }
}

.app-page-header {
    margin-bottom: @line-height-computed;
    //padding-top: @line-height-computed;
    font-size: floor((@font-size-base * 1.25));
    font-weight: 200;
    line-height: 1.4;
    @media (min-width: @screen-sm-min) {
        font-size: (@font-size-base * 1.75);
    }
}
.app-page-title {
    color: @app-blue;
    font-size: @font-size-h2;
    @media (min-width: @screen-sm-min) {
      font-size: @font-size-h1;
    }
}
.app-page-headline {
}

.app-page-abstract {
    //.container();
    padding: @line-height-computed;
    //text-align: center;
}

.hero-content {
    padding: @line-height-computed 0;
    background: @app-blue-light;
}


.app-content-body {
    background: #fff;
    // h2 {
    //    padding: @line-height-computed @line-height-computed ceil((@line-height-computed * 1.5));
    //    background: url(../assets/img/smile-blue.png) no-repeat 0 50% transparent;
    //    color: @app-blue-light;
    //}
    // h3 {
    //     display: inline-block;
    //     padding: @padding-large-vertical @padding-large-horizontal @padding-large-vertical ceil((@line-height-computed * 1.5));
    //     background: url(../assets/img/smile-green.png) no-repeat ceil((@line-height-computed / 4)) @line-height-computed @app-green-light;
    //     color: #fff;
    // }
}

.panelgrid {
    max-width: @container-sm;
}

body.template-frontpage-view .panelgrid {
    max-width: @container-lg;
}

// Style panel page editor

.contentblock-header {
    padding: @line-height-computed;
}

.contentblock-title {
    //.container();
    display: inline-block;
    color: #fff;
    background-color: @app-green-light;
}

.contentblock-content {
    padding: ceil((@line-height-computed * 2)) 0;
}

.contentblock-body {
    @media (min-width: @screen-sm-min) {
        .center-block();
        width: @container-sm;
        font-size: (@font-size-base + 2);
    }
}

.app-panelpage-content {
    //.container();
}

.app-panelpage-item {
    border-bottom: 1px solid @gray;
    &.item-odd {
        padding-bottom: @padding-small-vertical;
        border-color: @app-blue-light;
        background: url(../assets/img/smile-blue.png) no-repeat 0 100% transparent;
    }
    &.item-even {
        padding-bottom: @padding-small-vertical;
        border-color: @app-green-light;
        background: url(../assets/img/smile-green.png) no-repeat 0 100% transparent;
    }
}

.contentpanel {
  h2 {
    padding-left: ceil((@line-height-computed / 2));
    border-left: 2px solid @app-blue;
    color: @app-blue;
    font-size: @font-size-h3;
    @media (min-width: @screen-sm-min) {
      font-size: @font-size-h2;
    }
  }
  &.contentpanel-richtext {
    font-size: (@font-size-base + 2);
    @media (min-width: @screen-md-min) {
        width: @container-md;
    }
  }
}

// Override grid styles for frontpage
.template-frontpage-view {
  .panelgrid-row-3 {
    margin-top: ceil((@line-height-computed * 2));
    padding-top: ceil((@line-height-computed * 2));
    border-top: 2px solid @app-blue-light;
    .text-muted();
    h2 {
      color: @gray-light;
      > a {
        color: @gray-light;
      }
    }
  }
}


// Slab text for responsive

.slabtexted .slabtext {
  display:-moz-inline-box;
  display:inline-block;
  white-space:nowrap;
}
.slabtextinactive .slabtext {
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext {
  display:block;
}

