//
// Application stylesheet
// -----------------------------------------------


.template-navigation-controlpanel .label:empty {
    display: inline-block;
}


.app-toolbar + .app-navbar,
.app-toolbar + .app-brandbar {
    margin-top: @navbar-height;
}

.app-header {
    .jumbotron();
}

.app-sign {
    display: inline-block;
    .square(@navbar-height);
    text-align: center;
    font-size: floor((@navbar-height / 2));
    border: ceil((@line-height-computed / 4)) solid @gray-lighter;
    border-radius: floor((@navbar-height / 2));
    color: @gray-lighter;
}

// Add plone selected class to twbs navbar styles

.navbar-default .navbar-nav {
    > .selected > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
}



.app-content {
    &.app-content-simple {
        background: @gray-lighter;
    }
}


.app-page-title {
    padding: @padding-small-vertical @padding-small-horizontal;
    color: #fff;
    background-color: @app-blue;
}

.app-page-content {
    padding: @line-height-computed;
}

//.app-page-header {
//    #gradient > .vertical(#fff, @app-green-light, 0%, 100%);
//}

.app-content-body {
    background: #fff;
    h2 {
        color: @brand-primary
    }
}
