//
// Brandbar
// -----------------------------------------

.app-brandbar {
    min-height: ceil((@navbar-height * 3));
    padding: ceil((@line-height-computed * 2));
    background: url(../assets/img/brandbar-bg.jpg) no-repeat 0 0 @app-mint;
    background-size: cover;
}

.app-brand-claim {
    color: @brand-primary;
    font-weight: 600;
}