---
layout: modular
title: Modular page layout
slug: panel-page
lead: "layout for a modular page"
base_url: "../../"
---
<main class="app-content-body" id="app-content-body">
  <div class="app-page">
    <div class="app-page-header" id="app-page-header">
      <div class="app-hero">
        <div class="container hero-header">
          <h1 class="app-page-title" id="app-page-title">Was ist Kindertagespflege?</h1>
        </div>
        <div class="hero-content" id="hero-content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <div class="hero-body" id="hero-body">
                  {% include hero-lead.html %}
                  {% include hero-gallery.html %}
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                {% include hero-toc.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container app-page-content" id="content">
      {% include hero-subheading.html %}
      <div class="contentpanel contentpanel-subheading" id="contentpanel-4">
        <div class="contentpanel-content">
          <div class="contentpanel-header">
            <div class="contentpanel-title">
              <div class="contentpanel-headline h3">
                Betreuung des Kindes in der Familie der Tagesmutter/ des Tagesvaters
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contentpanel contentpanel-richtext">
        <div class="contentpanel-content">
          <div class="contentpanel-body">
            <p>Ein <strong>Tagesmutter/ein Tagesvater</strong> betreut ein oder mehrere Tageskinder in der eigenen Familie. Es können maximal fünf Tageskinder im Alter zwischen 8 Wochen und 14 Jahren aufgenommen werden. Sie/Er übt eine selbständige Tätigkeit aus. Grundlage für die Tätigkeit&nbsp;ist ein Betreuungsvertrag zwischen Eltern und Tagesmutter/-vater.</p>
          </div>
        </div>
      </div>
      <h3>Betreuung des Kindes in einer <strong>Großtagespflege</strong></h3>
      <p>Zwei Tagespflegepersonen können zusammen&nbsp;acht gleichzeitig anwesende&nbsp;Kinder in angemieteten Räumen in Form einer <strong>Großtagespflege</strong> betreuen. Wenn eine der beiden Betreuungskräfte eine pädagogische&nbsp;Fachkraft (Erzieher/in, Soz.Pädagoge/in) ist, ist es möglich die Anzahl auf&nbsp;zehn Kinder zu erweitern. Zur Zeit gibt es diese Art von Tagespflege in der Innenstadt und in Lechhausen. Weitere sind&nbsp;in der Planungsphase.</p>
      <h3>Betreuung des Kindes im Haushalt der Eltern (<strong>Kinderfrau</strong>)</h3>
      <p>Zur Kindertagespflege&nbsp;ist auch die Betreuung von Kindern im Haushalt der Eltern durch eine/n Kinderbetreuer/in zugehörig. In der Regel betreut sie&nbsp;in diesen Räume ausschließlich die Kinder der jeweiligen Familie. Sie kann durch die Eltern angestellt werden (Minijobbsis) oder arbeitet selbstständig, wie eine Tagesmutter/Tagesvater.&nbsp;In diesem Fall&nbsp;ist&nbsp;mit einem zusätzlichen Zuschag bezüglich Fahrtkosten etc. zu rechnen.</p>
      <h3>Betriebliche Kinderbetreuung</h3>
      <p>Die Vereinbarkeit von Familie und Beruf stellt für Eltern eine große Herausforderung dar.<br>Auf der anderen Seite sieht sich die Unternehmensleitung mit der Frage konfrontiert, wie Eltern als wertvolle Arbeitskräfte während der Familienphase gehalten werden können.</p>
      <p>Kindertagespflege kann hier Lösungen bieten, die individuell an den Betreuungsbedarf der Arbeitnehmer angepasst sind. Im beiliegenden Flyer hat die Stadt Augsburg in Zusammenarbeit mit der agita die Möglichkeiten und Vorteile einer betrieblichen Kinderbetreuung im Rahmen der Kindertagespflege dargestellt.<a href="../betriebliche-kinderbetreuung" class="internal-link" title="Betriebliche Kinderbetreuung"> ...mehr</a></p>
      <h3>&nbsp;Sporadisches <strong>Babysitten</strong></h3>
      <p>Beim <strong>Babysitten</strong> handelt es sich um eine kurzfristige, sporadische Betreuung ohne feste Verbindlichkeit, die insgesamt 50 Einsätze im Jahr nicht übersteigen darf.</p>
      <hr>
      <p>Es sind bei allen Betreuungsformen unterschiedliche versicherungs- und arbeitsrechtliche Regelungen zu beachten. Wir von <em>agita</em> informieren Sie gerne!</p>
      <p align="center" style="text-align: justify;">Alle Tageskinder und Tagespflegepersonen sind über <em>agita</em> unfallversichert.</p>
      <div align="right">
        <div align="center"><strong><img alt="Infos zur Kindertpfl" src="mit%20Ziege.jpg/image_preview" class="image-inline"></strong></div>
      </div>
    </div>
  </div>
</main>