<div class="app-brandbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a class="app-brand" href="/">
                    <img class="img-responsive" src="{{ page.base_url }}assets/img/logo.png" title="agita" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-push-4">
                <div class="app-brand-claims">
                    <p class="h4 app-brand-claim app-brand-claim-primary animated fadeInDownBig">Agentur f&uuml;r Kindertagespflege</p>
                    <p class="h5 app-brand-claim app-brand-claim-secondary animated fadeInRight">Deutscher Kinderschutzbund Augsburg</p>
                    <img class="app-brand-claim-image" src="{{ page.base_url }}assets/img/kinderschutzbund.png" title="agita" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-pull-4">
                <img class="hidden-xs img-responsive" src="{{ page.base_url }}assets/img/contact-tag.png" title="agita" />
                <address class="visible-xs app-brand-contact">
                    <a href="tel:+4982145540630">
                        Tel.: 0821 45540630
                    </a>
                </address>
            </div>
        </div>
    </div>
</div>