<div class="app-brandbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <a class="app-brand" href="/">
                    <img class="img-responsive" src="{{ page.base_url }}assets/img/logo.png" title="agita" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="app-brand-claims text-right">
                    <p class="h4 app-brand-claim app-brand-claim-primary animated fadeInUpBig">Agentur f&uuml;r Kindertagespflege</p>
                    <p class="h5 app-brand-claim text-left animated fadeInRight">des Deutschen Kinderschutzbundes Augsburg</p>
                </div>
            </div>
        </div>
    </div>
</div>