<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="container">
        <div class="row app-footer-contactbar">
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="hidden-xs col-sm-3">
                        <img class="img-responsive" src="{{ page.base_url }}assets/img/faces.png" title="agita" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <address class="app-footer-address">
                            <strong class="org">Deutscher Kinderschutzbund</strong><br>
                            <span class="org">Kreisverband Augsburg e.V.</span><br>
                            <span class="org">Agentur für Kindertagespflege</span><br>
                            <span class="street-address">Volkhartstr. 2</span><br>
                            <span class="locality">86152 Augsburg</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <address>
                    <abbr title="Phone">Tel:</abbr> 0821 - 45 54 06 &ndash; 30<br>
                    <abbr title="Phone">Fax:</abbr> 0821 - 45 54 06 &ndash; 13<br>
                    <a href="mailto:service@agita-augsburg.de">service@agita-augsburg.de</a>
                </address>
                <p><a href="/impressum">
                    Impressum</a> | &copy; agita all rights reserved</span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 app-footer-logobar">
                <div class="h5 logobar-title">In Kooperation mit:</div>
                    <a class="logobar-item" href="http://augsburg.de">
                        <img class="img-thumbnail img-responsive" src="{{ page.base_url }}assets/img/logo-stadt-augsburg.png" title="agita augsburg Partner" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>