<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="container">
        <div class="row app-footer-contactbar">
            <div class="hidden-xs col-sm-2">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/faces.png" title="agita" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <address>
                    <strong class="org">Deutscher Kinderschutzbund</strong><br>
                    <span class="org">Kreisverband Augsburg e.V.</span><br>
                    <span class="org">Agentur für Kindertagespflege</span><br>
                    <span class="street-address">Volkhartstr. 2</span><br>
                    <span class="locality">86152 Augsburg</span>
                </address>
            </div>
            <div class="col-xs-12 col-sm-6">
                <address>
                    <abbr title="Phone">Tel:</abbr> 0821 - 45 54 06 &ndash; 30<br>
                    <abbr title="Phone">Fax:</abbr> 0821 - 45 54 06 &ndash; 13<br>
                    <a href="mailto:service@agita-augsburg.de">service@agita-augsburg.de</a>
                </address>
                <p><a href="/impressum">
                    Impressum</a> | &copy; agita all rights reserved</span> 
                </p>
            </div>
        </div>
        <div class="app-footer-logobar">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="h4 logobar-title">In Kooperation mit:</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a class="thumbnail logobar-item" href="http://augsburg.de">
                                <span class="visible-xs">http://augsburg.de</span>
                                <img class="img-responsive hidden-xs" src="{{ page.base_url }}assets/img/logo-stadt-augsburg.png" title="agita augsburg Partner" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a class="thumbnail logobar-item" href="http://landkreis-augsburg.de">
                                <span class="visible-xs">http://landkreis-augsburg.de</span>
                                <img class="img-responsive hidden-xs" src="{{ page.base_url }}assets/img/logo-landkreis-augsburg.png" title="agita augsburg Partner" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="h4 logobar-title">Gef&ouml;rdert von:</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <a class="thumbnail logobar-item" href="http://www.bmfsfj.de/">
                                <span class="visible-xs">http://www.bmfsfj.de/</span>
                                <img class="img-responsive hidden-xs" src="{{ page.base_url }}assets/img/logo-bmfsfj.png" title="agita augsburg Partner" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a class="thumbnail logobar-item" href="http://europa.eu/">
                                <span class="visible-xs">http://europa.eu/</span>
                                <img class="img-responsive hidden-xs" src="{{ page.base_url }}assets/img/logo-eu.png" title="agita augsburg Partner" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a class="thumbnail logobar-item" href="http://esf.de/">
                                <span class="visible-xs">http://esf.de/</span>
                                <img class="img-responsive hidden-xs" src="{{ page.base_url }}assets/img/logo-esf.png" title="agita augsburg Partner" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a class="thumbnail logobar-item" href="http://agita-augsburg.de/">
                                <span class="visible-xs">http://agita-augsburg.de/</span>
                                <img class="img-responsive hidden-xs" src="{{ page.base_url }}assets/img/logo-hands.png" title="agita augsburg Partner" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>