<div class="contentpanel contentpanel-hero-abstract" id="contentpanel-hero-lead">
  <div class="contentpanel-content">
    <div class="contentpanel-abstract" id="contentpanel-abstract">
      <p class="lead hero-lead" id="hero-lead">
        Die agita des Kinderschutzbundes Augsburg e. V. ist der Ansprechpartner
        rund um das Thema Kindertagespflege in der Stadt.
        Wir bieten Ihnen Beratung, Vermittlung von Betreuungsplätzen,
        Ausbildung zur Tagespflegeperson und fachliche Begleitung.
        Kindertagespflege ist eine flexible, individuelle und professionelle
        Betreuungsmöglichkeit besonders für Säuglinge und Kleinkinder!
    </div>
  </div>
</div>