<div class="contentpanel contentpanel-hero-abstract" id="contentpanel-hero-lead">
  <div class="contentpanel-content">
    <div class="contentpanel-abstract" id="contentpanel-abstract">
      <p class="lead hero-lead" id="hero-lead">
        Die agita in Augsburg ist die Agentur für die Vermittlung und Betreuung
        von Kindertagespflege. Gemeinsam mit dem deutschen Kinderschutzbund
        beraten wir Eltern rund um das Thema individuelle Betreuung von Kleinkindern bis zum dritten Lebensjahr.
    </div>
  </div>
</div>