<div class="contentpanel contentpanel-hero-abstract" id="contentpanel-hero-lead">
  <div class="contentpanel-content">
    <div class="contentpanel-abstract">
      <p class="lead hero-lead">
        Das Angebot der Kindertagespflege nach dem Kinder- und Jugendhilfegesetz
        richtet sich vor allem an Babies und Kleinkinder und gilt als
        gleichwertige Alternative zur Krippe. Das Aktionsprogramm zum Ausbau der
        Kindertagesbetreuung unterstützt schwerpunktmäßig die Tagespflege für
        unter Dreijährige. Kinder können aber auch ergänzend zum Kindergarten
        oder zur Schule betreut werden.
      </p>
    </div>
  </div>
</div>