<div class="hero-gallery" id="hero-gallery">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/agita_more1.png" title="agita" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/agita_more2.png" title="agita" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/agita_3.png" title="agita" />
    </div>
  </div>
</div>