<ul class="navigation sf-js-enabled sf-shadow" id="main-nav"><li class="plain" id="portaltab-team-agita">                                 
                <a title="Unsere Bürozentrale ist täglich von 8.30-13h unter 0821/ 455 406 - 30 besetzt." class="mainTabContent" href="http://www.agita-augsburg.de/team-agita">Team agita</a>
                
                </li><li class="selected" id="portaltab-informationen-fur-eltern">                                 
                <a title="" class="mainTabContent" href="http://www.agita-augsburg.de/informationen-fur-eltern">Infos zur Kindertagespflege</a>
                
                    <ul class="submenu" style="display: none; visibility: hidden;"><li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/informationen-fur-eltern/was-spricht-fur-die-kindertagespflege">
            
            Warum Kindertagespflege?
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/informationen-fur-eltern/konzepte-vontagespflegepersonen">
            
            Konzepte von Tagespflegepersonen
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/informationen-fur-eltern/jahresbericht-2009">
            
            Jahresbericht
        </a>
                
    </div>
    
</li>
                    </ul></li><li class="plain" id="portaltab-tagesmutter-werden">                                 
                <a title="" class="mainTabContent" href="http://www.agita-augsburg.de/tagesmutter-werden">Tagesmutter werden</a>
                
                    <ul class="submenu" style="display: none; visibility: hidden;"><li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/tagesmutter-werden/voraussetzungen">
            
            Voraussetzungen
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/tagesmutter-werden/traumjob-tagesmutter">
            
            Betreuungsmodelle
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/tagesmutter-werden/leistungen">
            
            Leistungen
        </a>
                
    </div>
    
</li>
                    </ul></li><li class="plain" id="portaltab-tagesmutter-finden">                                 
                <a title="" class="mainTabContent" href="http://www.agita-augsburg.de/tagesmutter-finden">Tagesmutter finden</a>
                
                    <ul class="submenu" style="display: none; visibility: hidden;"><li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/tagesmutter-finden/was-spricht-fur-die-kindertagespflege">
            
            Pro Kindertagespflege
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/tagesmutter-finden/betreuungsmoeglichkeiten">
            
            Betreuungsmöglichkeiten
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/tagesmutter-finden/elternbeitraege">
            
            Betreuungskosten
        </a>
                
    </div>
    
</li>
                    </ul></li><li class="plain" id="portaltab-kurse">                                 
                <a title="" class="mainTabContent" href="http://www.agita-augsburg.de/kurse">Kurse</a>
                
                    <ul class="submenu" style="display: none; visibility: hidden;"><li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/kurse/grundkurs">
            
            Grundkurs
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/kurse/aufbaukurs">
            
            Aufbaukurs
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/kurse/fortbildungen">
            
            Fortbildungen
        </a>
                
    </div>
    
</li>
                    </ul></li><li class="plain" id="portaltab-aktuelles">                                 
                <a title="" class="mainTabContent" href="http://www.agita-augsburg.de/aktuelles">Aktuelles</a>
                
                    <ul class="submenu" style="display: none; visibility: hidden;"><li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/aktuelles/presseartikel">
            
            Presseartikel
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="Hier finden Sie aktuelle Veranstaltungen in Augsburg rund um die Familie" class="state-published" href="http://www.agita-augsburg.de/aktuelles/veranstaltungen">
            
            Veranstaltungstipps
        </a>
                
    </div>
    
</li>
                    </ul></li><li class="plain" id="portaltab-kontakt">                                 
                <a title="" class="mainTabContent" href="http://www.agita-augsburg.de/kontakt">Kontakt</a>
                
                    <ul class="submenu" style="display: none; visibility: hidden;"><li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/kontakt/kontaktformular">
            <img width="16" height="16" alt="Form Folder" src="http://www.agita-augsburg.de/Form.gif">
            Kontaktformular
        </a>
                
    </div>
    
</li>


<li class="navTreeItem visualNoMarker">

    

    <div>
        
        <a title="" class="state-published" href="http://www.agita-augsburg.de/kontakt/links">
            
            Links und Downloads
        </a>
                
    </div>
    
</li>
                    </ul></li></ul>